kind: Deployment
apiVersion: v1
metadata:
  name: Troubled Flink Job
spec:
  state: RUNNING
  upgradeStrategy:
    kind: STATEFUL
  startFromSavepoint:
    kind: LATEST
  deploymentTargetId: 57b4c290-73ad-11e7-8cf7-a6006ad3dba0
  maxSavepointCreationAttempts: 4
  maxJobCreationAttempts: 4
  template:
    spec:
      artifact:
        kind: JAR
        jarUri: http://minio/troubleshooting/flink-cookbook-0.1.jar
        flinkVersion: 1.5
        flinkImageRegistry: registry.platform.data-artisans.net
        flinkImageRepository: demo/v1.1/flink
        flinkImageTag: 1.5.0-dap1-scala_2.11
      parallelism: 2
      numberOfTaskManagers: 2
      resources:
        jobmanager:
          cpu: 0.5
          memory: 500M
        taskmanager:
          cpu: 1.0
          memory: 2G
      flinkConfiguration:
        state.savepoints.dir: s3://daplatform-demo/savepoints
        s3.access-key: admin
        s3.secret-key: password
        s3.endpoint: http://minio